@charset "utf-8";
/* CSS Document */
* {
    margin: 0 auto;
    padding: 0;
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, select {
    font-family: Arial, Microsoft Yahei, '微软雅黑', '宋体';
    *font-family: Microsoft Yahei, '微软雅黑', '宋体'
}

body {
    font-size: 12px;
    color: #666;
    font-family: "\5FAE\8F6F\96C5\9ED1", Arial, Microsoft Yahei, '微软雅黑', '宋体';
    *font-family: Microsoft Yahei, '微软雅黑', '宋体'
}

dl, dt, dd, ul, ol, li {
    list-style: none;
}

h3 {
    font-size: 14px
}

h4 {
    font-size: 13px;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
    cursor: pointer;
    color: #666;
}

a:hover {
    color: #F27522;
    text-decoration: none;
}

image {
    border: 0;
}

input, textarea, button, a {
    outline: none;
}

.blue {
    color: #06c;
    margin-right: 3px;
}

.gray {
    color: #888;
    font-size: 12px;
}

.graya {
    color: #A7A7A7;
    font-size: 14px;
}

.hui {
    color: #ccc;
}

.hui01 {
    color: #666;
}

.orange {
    color: #f90;
}

.green {
    color: #093;
}

.orangea {
    color: #FF8432
}

.mumornge {
    color: #f60;
}

.red {
    color: #F00;
}

.reda {
    color: #f00;
}

.whitec {
    color: white;
}

.white {
    background: white;
}

.common {
    width: 980px;
    margin: 0 auto /*;margin-top:10px*/;
}

.common_b {
    width: 980px;
    margin: 0 auto;
}

.commonc {
    width: 100%;
    float: left;
}

.fourtn {
    font-size: 16px;
}


.right {
    float: right;
}

.left {
    float: left;
}


.v {
    font-family: "宋体"
}

.bodyc {
    color: #666;
}

.twelve {
    font-size: 12px;
}

.eighteen {
    font-size: 18px;
}

.twenty {
    font-size: 20px;
}

.grayb {
    color: #999;
    font-size: 12px;
}

.blacka {
    color: #404040;
}

.blackb {
    color: #333333;
}

.four {
    font-size: 14px;
}

.bluea {
    color: #325e7f;
}

.blueb {
    color: #004276;
}

.greena {
    color: #339933;
}

.input {
    cursor: pointer;
}

/*2014-linknk*/
.tishi_box {
    background-color: #FFFFE1;
    border: 1px solid #FFCC81;
    color: #ff6600;
    padding: 6px 10px;
    margin: 10px 0;
    line-height: 26px;
    overflow: hidden;
}

.tishi_text {
    float: left;
    width: 96%;
}

.hei {
    color: #333;
}

.f_18 {
    font-size: 18px;
}

.f_14 {
    font-size: 14px;
}

.f_16 {
    font-size: 16px;
}

.f_24 {
    font-size: 24px;
}

.f_36 {
    font-size: 36px;
}

/*table {border-collapse: collapse;border-spacing: 0;}*/
.price {
    font-size: 14px;
}

.dj {
    cursor: pointer;
}

.block {
    display: block;
}



/*高度*/
.h199 {
    height: 199px;
}

/*字宽*/
.f_b {
    font-weight: bold;
}

.vm {
    vertical-align: middle;
}

.vt {
    vertical-align: top;
}

.fix_connect {
    position: fixed;
    background: #fff;
    bottom: 25px;
    left: 50%;
    margin-left: 510px;
    width: 98px;
    height: 28px;
    border: 1px solid #ddd;
    z-index: 22222;
}

.fix_connect > div {
    position: relative;
    width: 68px;
    padding-left: 30px;
    height: 100%;
    line-height: 30px;
    text-align: left;
    background: url(../images/connect_2.png) 6px 7px no-repeat;
    font-size: 14px;
}

.fix_connect > div > ul {
    position: absolute;
    background: #fff;
    width: 98px;
    border: 1px solid #ddd;
    height: 198px;
    top: -200px;
    left: -1px;
    display: none;
}

.fix_connect > div:hover > ul {
    display: block;
}

.fix_connect > div > ul li a {
    display: block;
    color: #333;
    width: 90%;
    height: 25px;
    padding-top: 43px;
    margin: 6px auto 0 auto;
    background: url(../images/qq.png) 31px 9px no-repeat;
    border-top: 1px solid #f0f0f0;
}

.fix_connect > div > ul li h3 {
    font-size: 13px !important;
    width: 100%;
    line-height: 22px !important;
    height: 22px;
    text-align: center;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f24 {
    font-size: 24px;
}

.simson {
    font-family: '宋体';
}

.yh {
    font-family: 'microsoft yahei';
}

/*颜色相关*/

.c191919,
a.c191919:link,
a.c191919:active,
a.c191919:visited {
    color: #191919;
}

.c333,
a.c333:link,
a.c333:active,
a.c333:visited {
    color: #333;
}

.c666,
a.c666:link,
a.c666:active,
a.c666:visited {
    color: #666;
}

.c999,
a.c999:link,
a.c999c333:active,
a.c999:visited {
    color: #999;
}

.caaa,
a.caaa:link,
a.caaa:active,
a.caaa:visited {
    color: #aaa;
}

.cff9200,
a.cff9200:link,
a.cff9200:active,
a.cff9200:visited,
.orange,
a.orange:link,
a.orange:active,
a.orange:visited{
    color: #ff9200;
}

.cf00,
a.cf00:link,
a.cf00:active,
a.cf00:visited,
.red,
a.red:link,
a.red:active,
a.red:visited{
    color: #f00;
}

.c06c,
a.c06c:link,
a.c06c:active,
a.c06c:visited,
.blue,
a.blue:link,
a.blue:active,
a.blue:visited{
    color: #06c;
}

.cff6c00,
a.cff6c00:link,
a.cff6c00:active,
a.cff6c00:visited {
    color: #ff6c00;
}

/*元素位置*/

.pa {
    position: absolute;
}

.pr {
    position: relative;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*clearfix写在浮动元素的上层*/
.clear{
    clear: both;
}

.clearfix {
    *height: 1%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

/*内部文字位置*/

.tleft {
    text-align: left;
}

.tright {
    text-align: right;
}

.tcenter {
    text-align: center;
}

/*内外边距*/

.m0a {
    margin: 0 auto;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml30 {
    margin-left: 30px;
}
.ml40 {
    margin-left: 40px;
}
.ml50 {
    margin-left: 50px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mr50 {
    margin-right: 50px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt50 {
    margin-top: 50px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb50 {
    margin-bottom: 50px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl25 {
    padding-left: 25px;
}

.pl30 {
    padding-left: 30px;
}

.pl50 {
    padding-left: 50px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr25 {
    padding-right: 25px;
}

.pr30 {
    padding-right: 30px;
}

.pr50 {
    padding-right: 50px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

.pt30 {
    padding-top: 30px;
}

.pt50 {
    padding-top: 50px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb50 {
    padding-bottom: 50px;
}

/*固定宽度*/

.w20p {
    width: 20%;
}

.w40p {
    width: 40%;
}

.w60p {
    width: 60%;
}

.w80p {
    width: 80%;
}

.w100p {
    width: 100%;
}

.w95 {
    width: 95px !important;
}

.w135 {
    width: 135px !important;
}

.w180 {
    width: 180px !important;
}

.w235 {
    width: 235px !important;
}

.w258 {
    width: 258px !important;
}

.w320 {
    width: 318px !important;
}

/*table 定义tr高度*/

.tr20 tr td {
    height: 20px;
}

.tr24 tr td {
    height: 24px;
}

.tr30 tr td {
    height: 30px;
}

.tr36 tr td {
    height: 36px;
}

.tr40 tr td {
    height: 40px;
}

.tr48 tr td {
    height: 48px;
}

/*border*/
.beee {
    border: 1px #eee solid;
}

.bff9200 {
    border: 1px #ff9200 solid;
}
