.bid-list-coloum li{box-sizing: border-box;}
.bid-list-coloum li div{box-sizing: border-box;}
.bid-list-coloum li:nth-child(1) {
    width: 240px;
    margin-left:23px;
}

.bid-list-coloum li:nth-child(1) > div {
    padding-left: 24px;
}

.bid-list-coloum li:nth-child(2) {
    width: 240px;
    margin-left:95px;
}

.bid-list-coloum li:nth-child(2) > div {
    padding-left: 50px;
}

.bid-list-coloum li:nth-child(3) {
    width: 100px;
    margin-left:150px;
}

.bid-list-coloum li:nth-child(3) > div {
    padding-left: 0px !important;
}

.bid-list-coloum li:nth-child(4) {
   	margin-left:100px;
}
.bid-list-coloum li:nth-child(4) div{
	width: 280px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 15px 0;
    line-height: 30px;
}
