/*****************************关于我们 页面  开始******************************/
/*居中*/
.abo-auto{
    width: 916px;
    margin:0 auto;
}

/*第一块的背景图*/
.abo-one-bar{
	height: 292px;
	background: url("../../image/banner/about-img1.jpg") no-repeat center center;
	overflow: hidden;
	position: relative;
}

/*标题 -- 公司简介*/
.abo-one-bar .abo-one h1{
    margin-top:36px;
    padding: 30px 0;
    font-size: 36px;
    color:#565656;
    font-weight: 400;
    text-align: center;
}

/*公司简介下的线*/
.abo-one-bar .abo-one i{
    position: absolute;
    display: block;
    width: 60px;
    border-top:1px solid #1B83FF;
    left:50%;
    margin-left: -30px;
}

/*公司简介详情*/
.abo-one-bar .abo-one span{
	display: block;
	margin-top: 20px;
	line-height: 34px;
	font-size: 16px;
	color: #565656;
	text-align: left;
}

.abo-one-bar .abo-one h4{
    font-size: 16px;
    color: #565656;
    font-weight: 600;
    text-align: center;
    padding: 42px 0;
    margin-bottom: 30px;
}

/*第二块 招标平台 */
.abo-two-bar{
    height: 500px;
    background: #fafaf9;
}

.abo-two-img{
	float: left;
	width: 1045px;
	height: 366px;
	background: url("../about_files/2017031715120863.jpg") no-repeat center center;
	overflow: hidden;
	margin-top: 87px;
}

.abo-two-info{
    float: right;
    width: 544px;
}

.abo-two-info h2{
    margin-top: 62px;
    padding: 43px 0;
    font-size: 30px;
    color: #666;
    font-weight: 400;
    text-align: left;
}

.abo-two-info span{
    display: block;
    font-size: 14px;
    color:#333;
    line-height: 30px;
}

/*第三块 商城平台 开始*/
.abo-three-bar{
    height:500px;
    background: #fff;
}

.abo-three-info{
    float: left;
    width: 480px;
    padding-top: 96px;
}

.abo-three-info h2{
    padding: 42px 0;
    font-size: 30px;
    color: #666;
    font-weight: 400;
    text-align: left;
}

.abo-three-info span{
	display: block;
	font-size: 14px;
	color: #333;
	line-height: 30px;
}

.abo-three-img{
    float: right;
    width: 340px;
    height:296px;
    margin-top: 80px;
    margin-right: 20px;
    background: url("../../image/main/about-us2.png") no-repeat center center;
}


/*第四块 金融信息平台*/
.abo-four-bar{
    height:500px;
    background: #fafaf9;
}

.abo-four-img{
    float: left;
    width: 290px;
    height:297px;
    margin-top: 120px;
    background: url("../../image/main/about-us2.png") no-repeat center center;
}

.abo-four-info{
    float: right;
    width: 578px;
    padding-top: 78px;
}

.abo-four-info h2{
    padding: 42px 0;
    font-size: 30px;
    color: #666;
    font-weight: 400;
    text-align: left;
}

.abo-four-info span{
    display: block;
    font-size: 14px;
    color:#333;
    line-height: 30px;
}
