/***********************************404页面 开始******************************/
body{
    margin: 0;
    padding: 0;
}

.four-zero-four-bar{
    height:100%;
    position: relative;
}

.four-zero-four-bar .four-zero-header{
    display: block;
    width: 100%;
    height:466px;
    background: url("../error_files/404-img.png") no-repeat center center;
}

.four-zero-four-bar .four-zero-search{
    position: absolute;
    top:272px;
    left:50%;
    margin-left: -262px;
}

.four-zero-four-bar .four-zero-search .zero-input{
    width: 401px;
    height: 40px;
    color: rgb(153,153,153);
    float: left;
    padding: 10px 7px 9px 7px;
    border: 1px solid #1B83FF;
    border-right: 0;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
}

.four-zero-four-bar .four-zero-search .zero-search{
    float: left;
    width: 110px;
    height: 40px;
    line-height: 40px;
    background: #ff9600;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.four-zero-four-bar .four-zero-img{
	position: absolute;
	left: 50%;
	top: 410px;
	margin-left: -370px;
	width: 747px;
	height: 251px;
	background: url("../error_files/404-images.png") no-repeat center center;
}

.four-zero-four-bar p{
    position: absolute;
    left:50%;
    top:633px;
    margin-left: -180px;
    font-size: 24px;
    color:#1B83FF;
}

/*返回按钮*/
.Refresh-button{
    position: absolute;
    left:50%;
    top:749px;
    margin-left: -65px;
}

.Refresh-button a{
    display: block;
    width:126px;
    height:33px;
    line-height: 33px;
    border:1px solid #ff9600;
    border-radius: 2px;
    font-size: 14px;
    text-align: center;
    color: #ff9600;
    text-decoration: none;
}
