.main-content{
	border-top:1px solid #ff8d08;
}
.bg-fafaf9{
    background: #fafaf9;
}
.mauto{margin: 0 auto}

/*手机验证的步骤容器 共3步*/
.phone-step{
    width: 680px;
    margin:0 auto;
}

.phone-step2{
    width: 1148px;
    margin:0 auto;
}

/*圆和文字容器*/
.modify-bar{
    width: 496px;
    height:66px;
    margin-left: 86px;
    padding-top: 62px;
}

.modify-bar div{
    float: left;
}

/*数字1、2、3容器*/
.verification1 .reset{
    width: 28px;
    height:28px;
    line-height: 28px;
    border-radius: 14px;
    font-size: 16px;
    text-align: center;
}

/*第一种样式*/
/*线*/
.reset-line{
    width: 189px;
    height: 2px;
    margin-top: 13px;
}

.reset_one{
    background: #ff8d08;
    color:#fff;
}

.line1{
    border-top:2px solid #f2f2f2;
}

.reset_two{
    background: #f2f2f2;
    color:#999;
}

.line2{
    border-top:2px solid #f2f2f2;
}

.reset_three{
    background: #f2f2f2;
    color:#999;
}

.verifica-reset{
    color:#ff8d08;
    margin:13px 74px 13px -12px;
}

.new-poss-reset{
    color:#999;
    margin:13px 67px 0 86px;
}

.modify-reset{
    color:#999;
    margin:-34px 0 12px 415px;
}

/*第二种样式*/
.modify-style2 .reset_one{
    background: #46cdac;
    color:#fff;
}

.modify-style2 .line1{
    border-top:2px dashed #46cdac;
}

.modify-style2 .reset_two{
    background: #ff8d08;
    color:#fff;
}

.modify-style2 .line2{
    border-top:2px solid #f2f2f2;
}

.modify-style2 .reset_three{
    background: #f2f2f2;
    color:#999;
}

.modify-style2 .verifica-reset{
    color:#46cdac;
    margin:13px 74px 13px -12px;
}

.modify-style2 .new-poss-reset{
    color:#ff8d08;
    margin:13px 67px 0 86px;
}

.modify-style2 .modify-reset{
    color:#999;
    margin:-34px 0 12px 415px;
}

/*第三种样式*/
.modify-style3 .reset_one{
    background: #46cdac;
    color:#fff;
}

.modify-style3 .line1{
    border-top:2px solid #46cdac;
}

.modify-style3 .reset_two{
    background: #46cdac;
    color:#fff;
}

.modify-style3 .line2{
    border-top:2px dashed #46cdac;
}

.modify-style3 .reset_three{
    background: #ff8d08;
    color:#fff;
}

.modify-style3 .verifica-reset{
    color:#46cdac;
    margin:13px 74px 13px -12px;
}

.modify-style3 .new-poss-reset{
    color:#46cdac;
    margin:13px 67px;
}

.modify-style3 .modify-reset{
    color:#ff8d08;
    margin:-34px 0 12px 415px;
}

.btn-box{
    width: 800px;
    padding: 50px 0 50px 0;
    text-align: center;
}

.error-into{
    font-size: 16px;
    color: #ff0000;
    padding-left: 100px;
    display: block;
    width: 100%;
}

/*安全验证样式结束*/
/*输入框样式*/
.input-reset{
    margin-top: 43px;
    margin-left: 178px;
    position: relative;
}

.pass-bar{
    width: 590px;
    padding: 13px 0;
    margin-left:124px;
}

.pass-bar .pass-set{
    display: inline-block;
    width: 80px;
    padding: 7px 0;
    text-align: right;
    font-size: 16px;
    color:#333;
    font-weight: 200;
}

.pass-bar .pass-int{
    display: inline-block;
    width: 378px;
    height:34px;
    padding: 0 7px;
    box-sizing: border-box;
    border:1px solid #ddd;
    border-radius: 3px;
    margin-left: 17px;
    background-color: #fafaf9;
}
.pass-bar .int{
	height:34px;
    line-height: 34px;
	padding: 0 7px;
    box-sizing: border-box;
    border:1px solid #ddd;
    border-radius: 3px;
    margin-left: 17px;
    background-color: #fafaf9;
}
.pass-bar .invisibility{
	font-size: 14px;
    color:#0077fd;
    margin-left: 11px;
}
.pass-bar img{
    width: 120px;
    height: 35px;
    float: left;
    margin-left: 20px;
}

input::-ms-clear{
    display:none;
}

input::-webkit-input-placeholder {
    line-height: 16px;
    color:#999;
}


input:-moz-placeholder {
    line-height: 31px;
    color:#999;
}

input::-moz-placeholder {
    line-height: 31px;
    color:#999;
}

input:-ms-input-placeholder {
    line-height: 31px;
    color:#999;
}

/*下一步按钮*/
.reset-next-step{
    display: block;
    padding:69px 0 40px 306px;
}

/*密码强度验证*/
.password-strength{
    width: 333px;
    height:120px;
    margin:50px;
}
/*.strength-box{*/
    /*width: 190px;*/
    /*height:120px;*/
    /*margin:100px;*/
/*}*/
/*密码强度容器*/
.strength p .strend{
    display: inline-block;
    width: 25px;
    height:8px;
    background: #ddd;
    margin-left: 2px;
}

.strong{
    font-size: 12px;
    color:#666;
    margin-left: 10px;
}
.strength{
    margin-left: 79px;
}
.strength p{
    height:26px;
    line-height: 26px;
}

 .strength p .green{
    background: #93e14d;
}

 .strength p .yellow{
    background: #f7e700;
}

 .strength p .red{
    background: #f34949;
}

/*安全程度容器*/
.land-wrap{
    width: 333px;
    height:57px;
    margin-top: 26px;
    background: url("../images/front-page/land-wrap.png") no-repeat center center;
}

.land-bar{
    width: 333px;
    height:110px;
    margin-top: -10px;
    background: url("../images/front-page/pig2.png") no-repeat center center;
}

.land-wrap p{
    padding: 4px 4px 0 0;
}

/*安全程度左移*/
.land-wrap p.p1{
    margin-left: 6px;
}

.typeface{
    margin-left: 10px;
}

.security{
    margin-left: 7px;
}

.security span{
    display: inline-block;
    width: 25px;
    height:8px;
    margin-left: 2px;
}

/*密码等级*/
.security .red , .yellow ,.green{
	background-color: #ddd;
}

/*高等级*/
.is-high{background-color: #93e14d;}
/*中等级*/
.is-medium{background-color: #f7e700;}
/*低等级*/
.is-low{background-color:red;}
/*默认等级颜色*/
.bg-color{background-color:#ddd;}


.land-bar{
    width: 333px;
    height:110px;
    padding-top: 16px;
    background: url("../images/front-page/pig2.png") no-repeat center center;
}

.strength-box .land-bar .yes{
    display: inline-block;
    width: 16px;
    height:10px;
    margin-left: 10px;
    background-position: -781px -259px;
}

.strength-box .land-bar .no{
    display: inline-block;
    width: 8px;
    height:8px;
    margin-left: 15px;
    background-position: -759px -277px;
}

.strength-box{
    position: absolute;
    height:120px;
    float: left;
    right: -340px;
    top: -34px;
}

.asa{
    display: inline-block;
    position: relative;
}

/*绿色对勾√*/
.password-strength .land-wrap i{
    width: 16px;
    height:10px;
    margin-left: 10px;
    background-position: -781px -259px;
}

.srend{
    float: left;
    position: absolute;
    left: 352px;
    bottom: -34px;
}

/*
*主要内容 结束
*/


/*账户列表*/
.ul-user-box{margin: 80px auto 60px auto}
.ul-user-div{width: 682px; margin: 0 auto}
.ul-user{overflow:hidden; zoom:1; width:682px; _display:inline; text-align: center;}
.ul-user li{width:210px; height:80px; border: 1px solid #ccc; border-radius: 3px; margin:7px 7px 7px 7px; display: inline-block; _display:inline; overflow:hidden; text-align:center; color: #333; box-sizing: border-box; cursor: pointer;}
.ul-user li span{
    display: block;
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 6px;
}
.ul-user li p{
    width: 180px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.ul-user li.curr{
    color: #fff;
    border: 1px solid #ff8a49;
    background: #ff6e49;
    background: -webkit-linear-gradient(#ff8a49, #ff6c49); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#ff8a49, #ff6c49); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#ff8a49, #ff6c49); /* Firefox 3.6 - 15 */
    background: linear-gradient(#ff8a49, #ff6c49); /* 标准的语法（必须放在最后） */
    box-shadow: 0 0 7px rgb(255,166,144);
}


.dfd{
    display: inline-block;
    position: relative;
}

.pass-mpt{
    display: block;
    font-size: 14px;
    color:red;
    line-height: 10px;
    margin-top: -2px;
    margin-left: 98px;
    display: none;

}

.btn{
	height: 36px;
    line-height: 36px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
    border: 0 none;
    font-size: 14px;
    border-radius: 4px;
}

.w380{width:380px;}
.w238{width:238px;}
.w120{width:120px;}
.w168{width:168px;}
.ml18{margin-left:18px;}


/**密码错误提示框**/
.pwd-error-position{
    top: -35px;
    right: -340px;
}

.pwd-error {
    width: 326px;
    height: 110px;
    position: absolute;
    z-index: 2;
    background: url("../../image/main/pig2.png") 0 0 no-repeat;
}

.pwd-error .pwd-einfo {
    margin: 10px 0 0 20px;
}

.pwd-error .pwd-einfo .pwd-einfo-sta {
    margin-bottom: 8px;
    overflow: hidden;
}

.pwd-error .pwd-einfo p {
    font-size: 12px;
    line-height: 16px;
    color: #666;
    margin-bottom: 7px;
}

.pwd-error .pwd-einfo p em {
    float: left;
    text-align: left;
    font-size: 12px;
    color: #666;
    font-style: normal;
}

.pwd-error .pwd-einfo p span {
    width: 25px;
    height: 8px;
    display: block;
    float: left;
    background-color: #dddddd;
    margin-left: 3px;
    margin-top: 6px;
}

.pwd-error .pwd-einfo p span.low {
    background-color: #e15650;
}

.pwd-error .pwd-einfo p span.medium {
    background-color: #f5e539;
}

.pwd-error .pwd-einfo p span.high {
    background-color: #a4dd64;
}

.pwd-error .pwd-einfo p em.pwd-sta {
    margin-left: 10px;
}

.pwd-error .pwd-einfo p.pwd-einfos {
    padding-left: 15px;
}

.pwd-error .pwd-einfo p.pwd-einfo-s {
    padding-left: 15px;
}

.pwd-error .pwd-einfo p.pwd-einfos {
    background-image: url(../../image/icon/home-icon.png);
    background-repeat: no-repeat;
    background-position: -759px -273px;

}

.pwd-error .pwd-einfo p.pwd-einfo-s {
    background-image: url(../../image/icon/home-icon.png);
    background-repeat: no-repeat;
    background-position: -785px -256px;
}